language: node_js
node_js:
  - 6
  - 7
  - 8
  - 9
  - "node"
os:
  - linux
  - osx
env:
  - NODE_ENV=nightwatch
before_script:
  - wget http://fastdl.mongodb.org/linux/mongodb-linux-x86_64-3.6.3.tgz -O /tmp/mongodb.tgz
  - tar -xvf /tmp/mongodb.tgz
  - mkdir /tmp/data
  - ${PWD}/mongodb-linux-x86_64-3.6.3/bin/mongod --dbpath /tmp/data  &
  - until nc -z localhost 27017; do echo Waiting for MongoDB; sleep 1; done
  - npm i -g nsp
script:
  - npm test
after_script:
  - nsp check
notifications:
  slack: meanstackjs:YtrF35Q7mPqPW5y6NHyDNvkh
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/2f8affb0a488ea5f5b7c
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
sudo: false